<!DOCTYPE html>
<html>
  <head>
    <title>Batch1571</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h3>BATCH 1571 RULES</h3>
    <%= yield %>
    <p>Made with Love by Kiki</p>
  </body>
</html>
